@model Product


@{
    ViewData["Title"] = "Detail";
}

<div class="container my-5">


    <label for="formFile" class="form-label"><b>Name</b></label>
    <input class="form-control" disabled id="customFile" asp-for="Name" />
    <span class="text-danger" asp-validation-for="Name"></span>

    <div class="form-group mt-5">
        <label for="formFile" class="form-label"><b>Description</b></label>
        <input class="form-control" disabled id="desc-text" value="@ViewBag.desc" />
        <span class="text-danger" asp-validation-for="Description"></span>

    </div>

    <div class="form-group mt-5">
        <label for="formFile" class="form-label"><b>new Price</b></label>
        <input type="text" disabled class="form-control" type="text" id="formFile" asp-for="Price">
        <span class="text-danger" asp-validation-for="Price"></span>

    </div>

    <div class="form-group mt-5">
        <label for="formFile" class="form-label"><b>Count</b></label>
        <input class="form-control" disabled type="text" id="formFile" asp-for="Count">
        <span class="text-danger" asp-validation-for="Count"></span>

    </div>

    <div class="form-group mt-5">
        <label for="formFile" class="form-label"><b>Category</b></label>
        <input class="form-control" disabled type="text" id="formFile" asp-for="Category.Name">
    </div>

    <div class="form-group mt-5">
        @foreach (var item in Model.Images)
        {
            <img src="~/img/@item.Image" style="width:150px;height:150px;" />
        }
    </div>

    <form class="forms-sample" asp-action="Delete" method="post">
        <div class="buttons my-3">
            
            <a class="btn btn-outline-dark" asp-action="Index">Cancel</a>
        </div>
    </form>
</div>